html {
  box-sizing: border-box; }

*,
*:before,
*:after {
  box-sizing: inherit; }

* {
  max-height: 1000000px;
  margin: 0;
  padding: 0; }

body {
  color: #333;
  background: #fff;
  font: 16px/1.6 "Muli", sans-serif;
  min-width: 320px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400; }

img {
  max-width: 100%;
  height: auto;
  vertical-align: top; }

@media only screen and (min-width: 1025px) {
  a[href^=tel],
  a[href^=skype],
  a[href^=sms] {
    cursor: default;
    pointer-events: none; } }
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Muli", sans-serif;
  font-weight: 400;
  margin: 0 0 20px;
  color: inherit; }

h1 {
  font-size: 46px; }

h2 {
  font-size: 30px; }

h3 {
  font-size: 22px; }

h4 {
  font-size: 18px; }

h5 {
  font-size: 17px; }

h6 {
  font-size: 15px; }

p {
  margin: 0 0 15px; }

a {
  color: #f64b4b;
  text-decoration: none;
  transition: color 0.3s ease; }
  a:hover, a:focus {
    text-decoration: none;
    color: #f41a1a; }

ul, .team-block .image .overlay, .contact-block .contact-info ul {
  margin: 0;
  padding: 0;
  list-style: none; }

.ellipsis {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden; }

@media only screen and (max-width: 1023px) {
  body {
    font-size: 15px;
    line-height: 24px; } }

@media only screen and (max-width: 1023px) {
  h1 {
    font-size: 34px;
    margin: 0 0 15px; } }

@media only screen and (max-width: 1023px) {
  h2 {
    font-size: 26px;
    margin: 0 0 15px; } }
@media only screen and (max-width: 767px) {
  h2 {
    font-size: 20px; } }

@media only screen and (max-width: 767px) {
  h3 {
    font-size: 20px; } }

#wrapper {
  overflow: hidden;
  width: 100%;
  position: relative; }

.container-fluid {
  margin: 0 auto;
  max-width: 1200px; }

.content-block ul {
  margin: 0 0 15px; }
  .content-block ul li {
    position: relative;
    padding: 0 0 0 20px; }
    .content-block ul li:before {
      content: '\f101';
      font-family: 'fontawesome';
      position: absolute;
      top: 0;
      left: 0;
      transition: all 0.3s linear;
      -webkit-transition: all 0.3s linear; }
    .content-block ul li a {
      color: #333; }
      .content-block ul li a:hover {
        color: #f64b4b; }

.btn.btn-primary {
  background: #f64b4b;
  border-color: #f64b4b;
  padding: 13px 35px;
  font-size: 14px;
  line-height: 18px;
  font-weight: 600;
  text-transform: uppercase;
  transition: background 0.3s linear, color 0.3s linear;
  -webkit-transition: background 0.3s linear, color 0.3s linear; }
  @media only screen and (max-width: 1023px) {
    .btn.btn-primary {
      padding: 9px 35px; } }
  .btn.btn-primary:focus, .btn.btn-primary:hover {
    background: #fff;
    border-color: #f64b4b;
    color: #f64b4b; }
  .btn.btn-primary .fas {
    margin: 0 0 0 6px;
    font-size: 15px; }

input[type=text], input[type=email], input[type=tel], input[type=search], textarea {
  background: #fff;
  border: 1px solid #cccccc;
  margin: 0;
  padding: 5px 15px;
  width: 100%;
  height: 47px;
  color: gray;
  font-size: 16px;
  line-height: 20px; }
  @media only screen and (max-width: 1023px) {
    input[type=text], input[type=email], input[type=tel], input[type=search], textarea {
      padding: 5px 10px;
      font-size: 15px; } }
  input[type=text]::-webkit-input-placeholder,
  input[type=email]::-webkit-input-placeholder,
  input[type=tel]::-webkit-input-placeholder,
  input[type=search]::-webkit-input-placeholder,
  textarea::-webkit-input-placeholder {
    color: gray; }
  input[type=text]::-moz-placeholder,
  input[type=email]::-moz-placeholder,
  input[type=tel]::-moz-placeholder,
  input[type=search]::-moz-placeholder,
  textarea::-moz-placeholder {
    opacity: 1;
    color: gray; }
  input[type=text]:-moz-placeholder,
  input[type=email]:-moz-placeholder,
  input[type=tel]:-moz-placeholder,
  input[type=search]:-moz-placeholder,
  textarea:-moz-placeholder {
    color: gray; }
  input[type=text]:-ms-input-placeholder,
  input[type=email]:-ms-input-placeholder,
  input[type=tel]:-ms-input-placeholder,
  input[type=search]:-ms-input-placeholder,
  textarea:-ms-input-placeholder {
    color: gray; }
  input[type=text].placeholder,
  input[type=email].placeholder,
  input[type=tel].placeholder,
  input[type=search].placeholder,
  textarea.placeholder {
    color: gray; }
  input[type=text]:focus,
  input[type=email]:focus,
  input[type=tel]:focus,
  input[type=search]:focus,
  textarea:focus {
    outline: none; }
  .newsletter-block input[type=text],
  .newsletter-block input[type=email],
  .newsletter-block input[type=tel],
  .newsletter-block input[type=search],
  .newsletter-block textarea {
    border: 0; }

textarea {
  height: 150px;
  min-height: 150px;
  resize: vertical;
  padding: 10px 15px; }

.title-holder {
  text-align: center;
  margin: 0 0 40px; }
  @media only screen and (max-width: 767px) {
    .title-holder {
      margin: 0 0 20px; } }
  .title-holder h2 {
    margin: 0 0 5px;
    text-transform: uppercase; }
  .title-holder .subtitle {
    color: #999999; }
    .title-holder .subtitle:before {
      content: '-';
      margin: 0 5px 0 0; }
    .title-holder .subtitle:after {
      content: '-';
      margin: 0 0 0 5px; }

.socials {
  display: table;
  height: 100%;
  width: 100%; }
  .socials ul {
    display: table-cell;
    vertical-align: middle;
    text-align: center; }
  .socials li {
    display: inline-block;
    vertical-align: top;
    padding: 0 5px; }
  .socials a {
    width: 35px;
    height: 35px;
    background: #fff;
    color: #f64b4b;
    border-radius: 50%;
    display: block;
    text-align: center;
    padding: 2px;
    transition: background 0.3s linear, color 0.3s linear;
    -webkit-transition: background 0.3s linear, color 0.3s linear; }
    .socials a:hover {
      background: #f64b4b;
      color: #fff; }
  .socials .fab {
    line-height: 2; }

.go-top {
  width: 50px;
  height: 50px;
  overflow: hidden;
  text-indent: 101%;
  white-space: nowrap;
  transition: all 0.3s linear;
  -webkit-transition: all 0.3s linear;
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: #f64b4b;
  border-radius: 3px;
  color: #fff;
  display: none; }
  @media only screen and (max-width: 767px) {
    .go-top {
      width: 40px;
      height: 40px; } }
  .go-top:before {
    width: 13px;
    height: 13px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    content: '';
    border-style: solid;
    border-color: #fff;
    border-width: 1px 1px 0 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -3px 0 0 -6px; }
    @media only screen and (max-width: 767px) {
      .go-top:before {
        width: 11px;
        height: 11px; } }
  .go-top:hover {
    background: #f41a1a; }

.pagination > li.active a {
  background: #f64b4b;
  border-color: #f64b4b; }
  .pagination > li.active a:hover {
    background: #f64b4b;
    border-color: #f64b4b; }
.pagination > li > a {
  color: #f64b4b;
  transition: all 0.3s linear;
  -webkit-transition: all 0.3s linear;
  padding: 6px 15px 12px; }
  .pagination > li > a:hover {
    background: #f64b4b;
    color: #fff;
    border-color: #f64b4b; }

.pagetitle {
  margin: 80px 0 0;
  background: #f64b4b;
  color: #fff;
  padding: 50px 0; }
  @media only screen and (max-width: 767px) {
    .pagetitle {
      padding: 30px 0;
      margin: 56px 0 0; } }
  .pagetitle .title-holder {
    margin: 0; }
  .pagetitle .subtitle {
    color: #e6e6e6; }

#header {
  padding: 15px 0;
  position: fixed;
  left: 0;
  right: 0;
  z-index: 9999;
  background: #fff;
  box-shadow: 0 0 8px 0px rgba(0, 0, 0, 0.1);
  transition: all 0.5s linear; }
  @media only screen and (max-width: 1023px) {
    #header {
      padding: 10px 0; } }
  #header .navbar {
    padding: 0;
    justify-content: space-between; }
  #header .navbar-brand {
    color: #f64b4b;
    text-transform: uppercase;
    font-weight: 600;
    height: auto;
    padding: 0;
    font-size: 22px;
    line-height: 1.6; }
  #header .navbar-collapse {
    flex-grow: 0; }
    #header .navbar-collapse .navbar-nav {
      font-size: 14px;
      line-height: 20px;
      padding: 10px 0 0; }
      @media only screen and (max-width: 1023px) {
        #header .navbar-collapse .navbar-nav {
          float: none; } }
      @media only screen and (max-width: 767px) {
        #header .navbar-collapse .navbar-nav {
          margin: 0; } }
    #header .navbar-collapse .nav-item {
      padding: 0 10px 5px; }
      @media only screen and (max-width: 1023px) {
        #header .navbar-collapse .nav-item {
          float: none;
          display: block;
          padding: 7px 0; } }
      #header .navbar-collapse .nav-item:last-child {
        padding-right: 0; }
      #header .navbar-collapse .nav-item a {
        padding: 0;
        color: #4d4d4d;
        position: relative; }
        #header .navbar-collapse .nav-item a:hover {
          background: none;
          color: #f64b4b; }
          #header .navbar-collapse .nav-item a:hover:before {
            right: 0;
            left: 0;
            opacity: 1; }
        #header .navbar-collapse .nav-item a:before {
          content: '';
          background: #f64b4b;
          height: 1px;
          position: absolute;
          bottom: -1px;
          left: -20px;
          right: 100%;
          transition: all 0.3s linear;
          -webkit-transition: all 0.3s linear;
          opacity: 0; }
      #header .navbar-collapse .nav-item.active > a {
        background: none;
        color: #f64b4b; }
        #header .navbar-collapse .nav-item.active > a:before {
          right: 0;
          left: 0;
          opacity: 1; }

#footer {
  background: #f64b4b;
  padding: 50px 0;
  color: #fff;
  text-align: center; }
  #footer .copyright {
    margin: 0 0 15px; }
  #footer .socials a:hover {
    background: #f53333; }

.block {
  padding: 70px 0;
  border-bottom: 1px solid #e6e6e6; }
  @media only screen and (max-width: 767px) {
    .block {
      padding: 40px 0 10px; } }

.hero-block {
  margin: 65px 0 0; }
  .hero-block .carousel-item:before {
    content: '';
    background: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0; }
  .hero-block .carousel-item img {
    width: 100%; }
    .carousel-inner{
      height:100vh;
    }
  .hero-block .carousel-caption {
    left: 25%;
    right: 25%;
    transform: translateY(50%);
    -webkit-transform: translateY(50%);
    bottom: 50%; }
    @media only screen and (max-width: 1023px) {
      .hero-block .carousel-caption {
        left: 7%;
        right: 7%; } }
    @media only screen and (max-width: 767px) {
      .hero-block .carousel-caption {
        display: none; } }
  @media only screen and (max-width: 1023px) {
    .hero-block .carousel-control {
      width: 5%; } }
  @media only screen and (max-width: 767px) {
    .hero-block .carousel-control {
      width: 15%; } }
  .hero-block p {
    margin: 0 0 30px; }
    @media only screen and (max-width: 1023px) {
      .hero-block p {
        margin: 0 0 25px; } }

@media only screen and (max-width: 767px) {
  .about-block .image {
    padding-bottom: 20px; } }
@media only screen and (max-width: 767px) {
  .about-block .features [class*="col-"] {
    padding-bottom: 30px; } }
.about-block img {
  height:260px}

@media only screen and (max-width: 767px) {
  .works-block {
    padding: 40px 0 20px; } }
.works-block .portfoliolist > div {
  padding: 15px;
  overflow: hidden; }
  @media only screen and (max-width: 767px) {
    .works-block .portfoliolist > div {
      padding: 0 10px 20px; } }
  .works-block .portfoliolist > div img {
    position: relative;
    top: 0;
    -webkit-transition: all 600ms cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: all 600ms cubic-bezier(0.645, 0.045, 0.355, 1); }
  .works-block .portfoliolist > div .label {
    position: absolute;
    height: 60px;
    bottom: -60px;
    left: 0;
    right: 0;
    -webkit-transition: all 300ms cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: all 300ms cubic-bezier(0.645, 0.045, 0.355, 1);
    background: rgba(0, 0, 0, 0.8);
    padding: 10px;
    color: #fff; }
    @media only screen and (max-width: 1023px) {
      .works-block .portfoliolist > div .label {
        height: 50px; } }
  .works-block .portfoliolist > div h3 {
    margin: 0 0 5px;
    color: #f64b4b;
    font-size: 16px; }
  .works-block .portfoliolist > div p {
    margin: 0;
    font-size: 12px; }
  .works-block .portfoliolist > div:hover .label {
    bottom: 0; }
  .works-block .portfoliolist > div:hover img {
    transform: scale(1.08); }
.works-block .portfoliolist .portfolio-wrapper {
  overflow: hidden;
  position: relative !important;
  background: #666;
  cursor: pointer;
  height: auto;
  width: 100%; }
.works-block .portfoliolist .label {
  font-size: 100%; }
.works-block .pagination {
  justify-content: center;
  margin: 25px 0 0; }
  .works-block .pagination .page-item.active .page-link {
    background: #f64b4b;
    border-color: #f64b4b; }
  .works-block .pagination .page-item .page-link {
    padding: 8px 15px 10px; }

@media only screen and (max-width: 767px) {
  .team-block {
    text-align: center; } }
.team-block .row {
  margin: 0 -15px 50px; }
  @media only screen and (max-width: 767px) {
    .team-block .row {
      margin-bottom: 0; } }
  .team-block .row:last-child {
    margin: 0 -15px; }
@media only screen and (max-width: 767px) {
  .team-block [class*="col-"] {
    padding-bottom: 20px; } }
.team-block [class*="col-"]:hover .overlay {
  top: 0;
  opacity: 1; }
.team-block .image {
  margin: 0 0 20px;
  position: relative;
  overflow: hidden; }
  @media only screen and (max-width: 767px) {
    .team-block .image {
      max-width: 350px;
      margin: 0 auto 20px; } }
  .team-block .image img {
    width: 100%;
    height: auto; }
  .team-block .image .overlay {
    position: absolute;
    top: 50%;
    bottom: 0;
    left: 0;
    right: 0;
    transition: all 0.3s linear;
    -webkit-transition: all 0.2s linear;
    vertical-align: middle;
    background: rgba(246, 75, 75, 0.9);
    opacity: 0; }
.team-block h3 {
  margin: 0 0 5px; }
.team-block .designation {
  display: block;
  font-style: italic;
  margin: 0 0 20px; }
  @media only screen and (max-width: 767px) {
    .team-block .designation {
      margin: 0; } }